<%= form_tag "/students", method: :post do %>
  <p>First Name: <input type="text" name="first_name"></p>
  <p>Last Name: <input type="text" name="last_name"></p>
  <p>Birthdate: <input type="text" name="birthdate"></p>
  <p>University: <input type="text" name="university"></p>
  <p>Pokemon: <input type="text" name="pokemon"></p>
  <p>Email: <input type="email" name="email"></p>
  <input type="submit" value="Enroll Student">
<% end %>